$color-primary-0: #15445D;
$color-primary-1: #48748C;
$color-primary-2: #295973;
$color-primary-3: #052E44;
$color-primary-4: #011C2A;


$color-error-background: #ED6F62;
$color-warning-background: #EAD063;